# Fuzzy Merge Name Matching
Supporting Mode Query: https://modeanalytics.com/editor/code_for_san_francisco/reports/33204c3dccc3

In [1]:
import os
import sys

import numpy as np
import pandas as pd
pd.options.display.max_columns = 999
import sqlalchemy as sqla
from sqlalchemy import create_engine

from pyjarowinkler import distance

DB_URI = os.getenv('CD_DWH')
engine = create_engine(DB_URI)

Jaro-Winkler distance metric was developed for name matching for the US census. Listed in environment.yaml for conda environment or `pip install pyjarowinkler`

The SQL Query in `all_candidate_names.sql` extracts first name and last name from each of the name columns in the two tables.

We wish to calculate the Jaro-Winkler distance for each of the names. 

We could limit the number of comparisons by restricting to those that have the same initials with

`...
from candidate_donations D join election_results E
on substring(D.FirstName,1,1) = substring(E.FirstName,1,1)
and substring(D.LastName,1,1) = substring(E.LastName,1,1)`

In [ ]:
with engine.begin() as conn:
    iter_table = pd.read_sql_table(table_name='all_candidate_names', con=conn, schema='fuzzy_merge', chunksize=10000)
    results = pd.concat([chunk for chunk in iter_table])
results.head()

In [3]:
results = results.dropna()

In [4]:
results.count()

election_fn          136514
election_ln          136514
election_name        136514
vote_total           136514
is_winner            136514
donation_fn          136514
donation_ln          136514
candidate_name       136514
total_transaction    136514
dtype: int64

In [6]:
results['jwscore_fn'] = np.vectorize(distance.get_jaro_distance)(results.source_election_fn, results.source_donation_fn)
results['jwscore_ln'] = np.vectorize(distance.get_jaro_distance)(results.source_election_fn, results.source_donation_ln)

At this point, we can write the `results` DataFrame above directly into the DB. Below, we do some additional exploration.

In [7]:
results.head(5)

,election_fn,election_ln,election_name,vote_total,is_winner,donation_fn,donation_ln,candidate_name,total_transaction,jwscore_fn,jwscore_ln
1,kamala,harris,Kamala D. Harris,4442781.0,True,jerry,hill,"HILL, JERRY A.",666195.72,0.00,0.52
2,kamala,harris,Kamala D. Harris,4442781.0,True,georgia,acosta,"ACOSTA, GEORGIA L.",15750.00,0.44,0.56
3,kamala,harris,Kamala D. Harris,4442781.0,True,abel,guillen,"GUILLEN, ABEL",13650.00,0.61,0.44
4,kamala,harris,Kamala D. Harris,4442781.0,True,george,runner,"RUNNER, GEORGE C.",249.00,0.00,0.56
5,kamala,harris,Kamala D. Harris,4442781.0,True,steve,hill,"HILL, STEVE",9700.00,0.00,0.52

In [8]:
results[results['jwscore_fn'] > 0.9]

,election_fn,election_ln,election_name,vote_total,is_winner,donation_fn,donation_ln,candidate_name,total_transaction,jwscore_fn,jwscore_ln
404,steve,cooley,Steve Cooley,4368624.0,False,steve,hill,"HILL, STEVE",9700.00,1.00,0.47
414,steve,cooley,Steve Cooley,4368624.0,False,steve,tye,"TYE, STEVE",154183.35,1.00,0.00
548,steve,cooley,Steve Cooley,4368624.0,False,steven,choi,"CHOI, STEVEN",463763.43,0.97,0.65
578,steve,cooley,Steve Cooley,4368624.0,False,steve,neal,"NEAL, STEVE",4186.27,1.00,0.47
603,steve,cooley,Steve Cooley,4368624.0,False,steven,davis,"DAVIS, STEVEN",2986.42,0.97,0.00
610,steve,cooley,Steve Cooley,4368624.0,False,steven,bailey,"BAILEY, STEVEN",7652.00,0.97,0.67
635,steve,cooley,Steve Cooley,4368624.0,False,steven,glazer,"GLAZER, STEVEN",2016506.04,0.97,0.56
652,steve,cooley,Steve Cooley,4368624.0,False,steve,fazio,"FAZIO, STEVE",1351208.79,1.00,0.46
694,steve,cooley,Steve Cooley,4368624.0,False,steven,bradford,"BRADFORD, STEVEN",955297.40,0.97,0.43
700,steve,cooley,Steve Cooley,4368624.0,False,steve,fox,"FOX, STEVE",162738.62,1.00,0.50
770,steve,cooley,Steve Cooley,4368624.0,False,steve,castaneda,"CASTANEDA, STEVE",8400.00,1.00,0.57
1336,ronald,gold,Ronald Gold,3033476.0,False,ronald,mikulaco,"MIKULACO, RONALD P.",32599.56,1.00,0.46
1728,john,chiang,John Chiang*,5325357.0,True,john,laird,"LAIRD, JOHN S.",167.71,1.00,0.41
1755,john,chiang,John Chiang*,5325357.0,True,john,moorlach,"MOORLACH, JOHN",723131.45,1.00,0.43
1759,john,chiang,John Chiang*,5325357.0,True,john,chiang,"CHIANG, JOHN",4207049.26,1.00,1.00
1847,john,chiang,John Chiang*,5325357.0,True,"john,",inks,"INKS, JOHN M.,",14390.00,0.96,0.47
1994,john,chiang,John Chiang*,5325357.0,True,john,renison,"RENISON, JOHN",84287.50,1.00,0.37
2087,betty,yee,Betty T. Yee,3810304.0,False,betsy,butler,"BUTLER, BETSY",5025.00,0.91,0.00
2119,betty,yee,Betty T. Yee,3810304.0,False,betty,yee,"YEE , BETTY T.",641839.09,1.00,1.00
2426,tony,strickland,Tony Strickland,3487014.0,False,tony,thurmond,"THURMOND, TONY",1247488.45,1.00,0.63
2752,tony,strickland,Tony Strickland,3487014.0,False,tony,mendoza,"MENDOZA, TONY",776255.27,1.00,0.41
2959,ashley,swearengin,Ashley Swearengin,3249668.0,False,ashley,swearengin,"SWEARENGIN, ASHLEY",11800.00,1.00,1.00
3193,jerry,brown,Jerry Brown,5428149.0,True,jerry,hill,"HILL, JERRY A.",666195.72,1.00,0.00
3320,jerry,brown,Jerry Brown,5428149.0,True,jerry,kern,"KERN, JERRY",165325.00,1.00,0.63
3521,jerry,brown,Jerry Brown,5428149.0,True,jerry,kowal,"KOWAL, JERRY S.",3650.00,1.00,0.60
3785,"edmund ""jerry""",brown,"Edmund G. ""Jerry"" Brown*",4388368.0,False,edmund (jerry),brown,"BROWN, EDMUND G. (JERRY)",2700.00,0.94,1.00
4597,neel,kashkari,Neel Kashkari,2929213.0,False,newell,arnerich,"ARNERICH, NEWELL",3799.00,0.91,0.58
5067,dave,jones,Dave Jones,4765400.0,True,dave,jones,"JONES, DAVE",960895.22,1.00,1.00
5466,dave,jones,Dave Jones*,4038165.0,False,dave,jones,"JONES, DAVE",960895.22,1.00,1.00
5645,mike,villines,Mike Villines,3540626.0,False,mike,gatto,"GATTO, MIKE",4853897.96,1.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
129208,mike,thompson,Mike Thompson,224526.0,True,mike,gipson,"GIPSON, MIKE",1146765.47,1.00,0.64
129221,mike,thompson,Mike Thompson,224526.0,True,mike,spence,"SPENCE, MIKE",43048.00,1.00,0.43
129332,carlos,santamaria,Carlos Santamaria,67565.0,False,carlos,taylor,"TAYLOR, CARLOS",6450.00,1.00,0.49
129614,carlos,santamaria,Carlos Santamaria,67565.0,False,carol,liu,"LIU, CAROL",4900.00,0.91,0.00
130468,patrick,malloy,Patrick Malloy,103646.0,False,patrick,o'donnell,"O'DONNELL, PATRICK",868133.02,1.00,0.43
130578,juan,vargas,Juan Vargas,145162.0,True,juan,vargas,"VARGAS, JUAN C",10000.00,1.00,1.00
131412,scott,peters,Scott Peters,181253.0,True,scott,wilk,"WILK, SCOTT T.",2965106.00,1.00,0.00
131414,scott,peters,Scott Peters,181253.0,True,scott,svonkin,"SVONKIN, SCOTT",319072.00,1.00,0.00
131499,scott,peters,Scott Peters,181253.0,True,scott,wiener,"WIENER, SCOTT D.",2728289.46,1.00,0.67
132049,denise,gitsham,Denise Gitsham,139403.0,False,dennis,bullock,"BULLOCK, DENNIS R",23881.67,0.92,0.00
132102,susan,davis,Susan A. Davis,198988.0,True,susan,rubio,"RUBIO, SUSAN",52049.00,1.00,0.47
132166,susan,davis,Susan A. Davis,198988.0,True,susan,shelley,"SHELLEY, SUSAN",0.00,1.00,0.00
132227,susan,davis,Susan A. Davis,198988.0,True,susan,eggman,"EGGMAN, SUSAN",721363.71,1.00,0.00
132350,susan,davis,Susan A. Davis,198988.0,True,susan,bonilla,"BONILLA, SUSAN",1703015.55,1.00,0.45
132553,james,veltmeyer,James Veltmeyer,97968.0,False,james,gallagher,"GALLAGHER, JAMES",748330.33,1.00,0.56
132616,james,veltmeyer,James Veltmeyer,97968.0,False,james,frazier jr.,"FRAZIER JR., JAMES L.",1107761.77,1.00,0.47
132619,james,veltmeyer,James Veltmeyer,97968.0,False,james,wood,"WOOD, JAMES D.",991745.41,1.00,0.00
132796,james,veltmeyer,James Veltmeyer,97968.0,False,james,lau,"LAU, JAMES",400.00,1.00,0.00
133521,robert (bob),evans,Robert (Bob) Evans,57848.0,False,robert 'bob',huff,"HUFF, ROBERT 'BOB'",-39830.00,0.93,0.00
134205,scott,jones,Scott R. Jones,145168.0,False,scott,wilk,"WILK, SCOTT T.",2965106.00,1.00,0.00
134207,scott,jones,Scott R. Jones,145168.0,False,scott,svonkin,"SVONKIN, SCOTT",319072.00,1.00,0.56
134292,scott,jones,Scott R. Jones,145168.0,False,scott,wiener,"WIENER, SCOTT D.",2728289.46,1.00,0.41
134628,paul,cook,Paul Cook,136972.0,True,paul,krekorian,"KREKORIAN, PAUL",0.00,1.00,0.41
134795,paul,cook,Paul Cook,136972.0,True,paul,glaab,"GLAAB, PAUL",98575.66,1.00,0.00
134874,rita,ramirez,Rita Ramirez,83035.0,False,rita,topalian,"TOPALIAN, RITA H.",138741.77,1.00,0.51
135262,jerry,mcnerney,Jerry McNerney,133163.0,True,jerry,hill,"HILL, JERRY A.",666195.72,1.00,0.00
135389,jerry,mcnerney,Jerry McNerney,133163.0,True,jerry,kern,"KERN, JERRY",165325.00,1.00,0.60
135590,jerry,mcnerney,Jerry McNerney,133163.0,True,jerry,kowal,"KOWAL, JERRY S.",3650.00,1.00,0.00
136067,dianne,feinstein,Dianne Feinstein*,7864624.0,True,diane,harkey,"HARKEY, DIANE",402627.77,0.97,0.43
136467,elizabeth,emken,Elizabeth Emken,4713887.0,False,elizabeth,echols,"ECHOLS, ELIZABETH",109230.63,1.00,0.51

Though more investigation can be conducted, let's save those that have a score above 0.9 for both first name and last name

In [9]:
match_90 = results[(results['jwscore_fn'] >= 0.9) & (results['jwscore_ln'] >=0.9)]

Then we can explore which non-perfect matches we are included and evaluate if we agree with them

In [10]:
match_90[(match_90['jwscore_fn'] < 1) | (match_90['jwscore_ln'] < 1)].head(20)

,election_fn,election_ln,election_name,vote_total,is_winner,donation_fn,donation_ln,candidate_name,total_transaction,jwscore_fn,jwscore_ln
3785,"edmund ""jerry""",brown,"Edmund G. ""Jerry"" Brown*",4388368.0,False,edmund (jerry),brown,"BROWN, EDMUND G. (JERRY)",2700.00,0.94,1.00
11837,"veronica ""roni""",jacobi,"Veronica ""Roni"" Jacobi",65355.0,False,veronica,jacobi,"JACOBI, VERONICA S.",18115.00,0.91,1.00
30670,rudy,salas,Rudy Salas,53056.0,True,rudy,salas jr.,"SALAS JR., RUDY",1181293.78,1.00,0.91
32140,vince,fong,Vince Fong,123959.0,True,vincent,fong,"FONG, VINCENT",752160.44,0.94,1.00
34628,s. monique,limÃ³n,S. Monique LimÃ³n,128344.0,True,s. monique,limon,"LIMON, S. MONIQUE",605884.00,1.00,0.91
37203,charlie,schaupp,Charlie Schaupp,68170.0,False,charles,schaupp,"SCHAUPP, CHARLES E.",61275.25,0.94,1.00
41766,matt,dababneh,Matt Dababneh,111148.0,True,matthew,dababneh,"DABABNEH, MATTHEW",1432829.63,0.91,1.00
43226,eloise,reyes,Eloise Reyes,62432.0,True,eloise gomez,reyes,"REYES, ELOISE GOMEZ",708579.31,0.90,1.00
46707,matthew gene,craffey,Matthew Gene Craffey,54016.0,False,matthew,craffey,"CRAFFEY, MATTHEW G.",9600.00,0.92,1.00
53222,reginald byron,jones-sawyer,Reginald Byron Jones-Sawyer,77324.0,True,reginald byron,jones-sawyer sr.,"JONES-SAWYER SR., REGINALD BYRON",842523.87,1.00,0.95
62839,kevin,mccarty,Kevin McCarty,111112.0,True,kevin,mc carty,"MC CARTY, KEVIN",707453.07,1.00,0.97
69544,melinda,vÃ¡squez,Melinda K. VÃ¡squez,88344.0,False,melinda,vasquez,"VASQUEZ, MELINDA K",10281.99,1.00,0.91
79339,johnathon levar,ervin,Johnathon Levar Ervin,142886.0,False,johnathon,ervin,"ERVIN, JOHNATHON",2070959.60,0.92,1.00
82407,ling ling,chang,Ling Ling Chang,157732.0,False,ling-ling,chang,"CHANG, LING-LING",3373302.92,0.96,1.00
85944,john w.,moorlach,John M. W. Moorlach,228480.0,True,john,moorlach,"MOORLACH, JOHN",723131.45,0.91,1.00
88415,steve,glazer,Steve Glazer,270485.0,True,steven,glazer,"GLAZER, STEVEN",2016506.04,0.97,1.00
89756,sandrÃ©,swanson,SandrÃ© R. Swanson,143573.0,False,sandre,swanson,"SWANSON, SANDRE",672951.16,0.93,1.00
105931,kevin,mccarthy,Kevin McCarthy,167116.0,True,kevin,mc carty,"MC CARTY, KEVIN",707453.07,1.00,0.93
114130,roger,hernÃ¡ndez,Roger HernÃ¡ndez,71720.0,False,roger,hernandez,"HERNANDEZ, ROGER",187930.18,1.00,0.96
117416,jeff,stone,Jeff Stone,88269.0,False,jeffrey,stone,"STONE, JEFFREY E.",559825.15,0.91,1.00

This list highlights some successes with these thresholds but also highlights some areas that could be investigated further (e.g. names in brackets or quotes)

In [11]:
len(match_90)

175

In [12]:
len(results[(results['jwscore_fn'] > 0.95) & (results['jwscore_ln'] > 0.95)])

159

In [13]:
len(results[(results['jwscore_fn'] == 1) & (results['jwscore_ln'] == 1)])

155

In [14]:
len(results[(results['jwscore_fn'] > 0.85) & (results['jwscore_ln'] > 0.85)])

184

In [15]:
match_85 = results[(results['jwscore_fn'] > 0.85) & (results['jwscore_ln'] > 0.85)]

In [16]:
match_85[(match_85['jwscore_fn'] < 1) | (match_85['jwscore_ln'] < 1)].head(20)

,election_fn,election_ln,election_name,vote_total,is_winner,donation_fn,donation_ln,candidate_name,total_transaction,jwscore_fn,jwscore_ln
3785,"edmund ""jerry""",brown,"Edmund G. ""Jerry"" Brown*",4388368.0,False,edmund (jerry),brown,"BROWN, EDMUND G. (JERRY)",2700.00,0.94,1.00
11837,"veronica ""roni""",jacobi,"Veronica ""Roni"" Jacobi",65355.0,False,veronica,jacobi,"JACOBI, VERONICA S.",18115.00,0.91,1.00
13724,susan talamantes,eggman,Susan Talamantes Eggman,86315.0,True,susan,eggman,"EGGMAN, SUSAN",721363.71,0.86,1.00
18809,"carlos ""chuck""",taylor,"Carlos ""Chuck"" Taylor",37180.0,False,carlos,taylor,"TAYLOR, CARLOS",6450.00,0.89,1.00
20239,bill,quirk,Bill Quirk,114001.0,True,bill (william),quirk,"QUIRK, BILL (WILLIAM J.)",697958.72,0.86,1.00
30670,rudy,salas,Rudy Salas,53056.0,True,rudy,salas jr.,"SALAS JR., RUDY",1181293.78,1.00,0.91
32140,vince,fong,Vince Fong,123959.0,True,vincent,fong,"FONG, VINCENT",752160.44,0.94,1.00
34628,s. monique,limÃ³n,S. Monique LimÃ³n,128344.0,True,s. monique,limon,"LIMON, S. MONIQUE",605884.00,1.00,0.91
37203,charlie,schaupp,Charlie Schaupp,68170.0,False,charles,schaupp,"SCHAUPP, CHARLES E.",61275.25,0.94,1.00
41766,matt,dababneh,Matt Dababneh,111148.0,True,matthew,dababneh,"DABABNEH, MATTHEW",1432829.63,0.91,1.00
43226,eloise,reyes,Eloise Reyes,62432.0,True,eloise gomez,reyes,"REYES, ELOISE GOMEZ",708579.31,0.90,1.00
46707,matthew gene,craffey,Matthew Gene Craffey,54016.0,False,matthew,craffey,"CRAFFEY, MATTHEW G.",9600.00,0.92,1.00
53222,reginald byron,jones-sawyer,Reginald Byron Jones-Sawyer,77324.0,True,reginald byron,jones-sawyer sr.,"JONES-SAWYER SR., REGINALD BYRON",842523.87,1.00,0.95
57719,adam joshua,miller,Adam Joshua Miller,25680.0,False,adam,miller,"MILLER, ADAM J.",2311.13,0.87,1.00
62839,kevin,mccarty,Kevin McCarty,111112.0,True,kevin,mc carty,"MC CARTY, KEVIN",707453.07,1.00,0.97
69544,melinda,vÃ¡squez,Melinda K. VÃ¡squez,88344.0,False,melinda,vasquez,"VASQUEZ, MELINDA K",10281.99,1.00,0.91
71181,john,moore,John Moore,60827.0,False,john,moorlach,"MOORLACH, JOHN",723131.45,1.00,0.86
73655,tim,gorsulowsky,Tim Gorsulowsky,54729.0,False,timothy,gorsulowsky,"GORSULOWSKY, TIMOTHY S.",15383.75,0.87,1.00
74461,rob,rowen,Rob Rowen,161502.0,False,robert,rowen,"ROWEN, ROBERT J.",15567.24,0.88,1.00
78248,colin patrick,walch,Colin Patrick Walch,131598.0,False,colin,walch,"WALCH, COLIN",3113.82,0.88,1.00

In [17]:
match_85_90 = results[(results['jwscore_fn'] > 0.85) & (results['jwscore_ln'] > 0.9)]

In [18]:
match_85_90[(match_85_90['jwscore_fn'] < 1) | (match_85_90['jwscore_ln'] < 1)].head(20)

,election_fn,election_ln,election_name,vote_total,is_winner,donation_fn,donation_ln,candidate_name,total_transaction,jwscore_fn,jwscore_ln
3785,"edmund ""jerry""",brown,"Edmund G. ""Jerry"" Brown*",4388368.0,False,edmund (jerry),brown,"BROWN, EDMUND G. (JERRY)",2700.00,0.94,1.00
11837,"veronica ""roni""",jacobi,"Veronica ""Roni"" Jacobi",65355.0,False,veronica,jacobi,"JACOBI, VERONICA S.",18115.00,0.91,1.00
13724,susan talamantes,eggman,Susan Talamantes Eggman,86315.0,True,susan,eggman,"EGGMAN, SUSAN",721363.71,0.86,1.00
18809,"carlos ""chuck""",taylor,"Carlos ""Chuck"" Taylor",37180.0,False,carlos,taylor,"TAYLOR, CARLOS",6450.00,0.89,1.00
20239,bill,quirk,Bill Quirk,114001.0,True,bill (william),quirk,"QUIRK, BILL (WILLIAM J.)",697958.72,0.86,1.00
30670,rudy,salas,Rudy Salas,53056.0,True,rudy,salas jr.,"SALAS JR., RUDY",1181293.78,1.00,0.91
32140,vince,fong,Vince Fong,123959.0,True,vincent,fong,"FONG, VINCENT",752160.44,0.94,1.00
34628,s. monique,limÃ³n,S. Monique LimÃ³n,128344.0,True,s. monique,limon,"LIMON, S. MONIQUE",605884.00,1.00,0.91
37203,charlie,schaupp,Charlie Schaupp,68170.0,False,charles,schaupp,"SCHAUPP, CHARLES E.",61275.25,0.94,1.00
41766,matt,dababneh,Matt Dababneh,111148.0,True,matthew,dababneh,"DABABNEH, MATTHEW",1432829.63,0.91,1.00
43226,eloise,reyes,Eloise Reyes,62432.0,True,eloise gomez,reyes,"REYES, ELOISE GOMEZ",708579.31,0.90,1.00
46707,matthew gene,craffey,Matthew Gene Craffey,54016.0,False,matthew,craffey,"CRAFFEY, MATTHEW G.",9600.00,0.92,1.00
53222,reginald byron,jones-sawyer,Reginald Byron Jones-Sawyer,77324.0,True,reginald byron,jones-sawyer sr.,"JONES-SAWYER SR., REGINALD BYRON",842523.87,1.00,0.95
57719,adam joshua,miller,Adam Joshua Miller,25680.0,False,adam,miller,"MILLER, ADAM J.",2311.13,0.87,1.00
62839,kevin,mccarty,Kevin McCarty,111112.0,True,kevin,mc carty,"MC CARTY, KEVIN",707453.07,1.00,0.97
69544,melinda,vÃ¡squez,Melinda K. VÃ¡squez,88344.0,False,melinda,vasquez,"VASQUEZ, MELINDA K",10281.99,1.00,0.91
73655,tim,gorsulowsky,Tim Gorsulowsky,54729.0,False,timothy,gorsulowsky,"GORSULOWSKY, TIMOTHY S.",15383.75,0.87,1.00
74461,rob,rowen,Rob Rowen,161502.0,False,robert,rowen,"ROWEN, ROBERT J.",15567.24,0.88,1.00
78248,colin patrick,walch,Colin Patrick Walch,131598.0,False,colin,walch,"WALCH, COLIN",3113.82,0.88,1.00
79339,johnathon levar,ervin,Johnathon Levar Ervin,142886.0,False,johnathon,ervin,"ERVIN, JOHNATHON",2070959.60,0.92,1.00

In [19]:
len(match_85_90)

183